*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  /* common properties */
    header{
    border-bottom: 1px solid black; 
    background-color: #edecec;
    box-shadow: 0.2px 0.2px 0.2px 0.2px #3b3b3b;
    padding-top: 15px;
    width: 100%;
  }

  footer{
   text-align: center;
   border-top: 1px solid black;
   padding: 5px;
   position: fixed;
   width: 100%;
   bottom: 0;
   background-color: #edecec;
   padding-top: 15px;
   padding-bottom: 15px;
}
  #product_nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 10px 70px 20px 70px;
     width: 90%;
  }
  #h1{
     font-weight: 700;
  }
  #add-btn, #submit-btn{
     background: green;
     color: white;
     padding: 6px;
     margin-right: 10px;
     width: 75px;
     box-shadow: 0px 2px 0px black;
     font-weight: 700;
  }
  button a{
   text-decoration: none;
   color: white;
  }
  #cancel, #delete-product-btn{
     background: red;
     padding: 6px;
     color: white;
     box-shadow: 0px 2px 0px black;
     font-weight: 700;
     width: 75px;
  }
  #delete-product-btn{
     width: 6.5rem;
  }
  button:hover{
     cursor: pointer;
     transition: transform 0.5s;
     transform: translateY(-1.5px);
     border-radius: 25px;
  }

  /* product add */
  .product-form{
   background-color: #edecec;
   }

  #form-group{
     width: 80%;
     margin: 0 auto;
     margin-top: 2.5rem;
     padding: 25px;
     font-weight: 700;
     margin-bottom: 20px;
  }
  #form-group:hover{
   transform: scale(1.05);
   transition-duration: 0.5s;
 }
  label{
     width: 140px;
     display: inline-block;
  }
  input{
     margin-bottom: 25px;
     padding: 6px;
     outline: none;
     width: 22rem;
     box-shadow: 2px 2px 2px 2px #818181;
  }
  #typeStwitcher{
     margin-bottom: 20px; 
  }
  select{
     padding: 6px;
     outline: none;
     width: 22rem;
     box-shadow: 2px 2px 2px 2px #818181;
  }

  .error-message{
   width: 80%;
   margin: 0 auto;
   color: red;
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
   opacity: 1;
   animation: fade 5s;
  }
  @keyframes fade {
   0% { opacity: 0; }
   100% { opacity: 1; }  
  }

  /* Product List */
  .product-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   grid-gap: 0.5rem;
   width: 90%;
   margin: 0 auto;
 }
 .products:hover{
   transform: scale(1.05);
   transition-duration: 0.5s;
   box-shadow: 2px 3px 2px 3px rgba(206, 9, 228, 0.4);
 }
 .products {
   display: flex;
   flex-direction: column;
   padding: 1.7rem;
   border: 1px solid #ccc;
   border-radius: 0.5rem;
   box-shadow: 2px 2px 2px 2px #818181;
   margin-top: 2rem;
   width: 200px;
   height: 200px;
 }
 
 .products p:first-child {
   font-weight: bold;
 }
 
 .products input[type="checkbox"] {
   margin-right: 1rem;
   width: 15px;
 }
 